body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
    color: white;
}

div, a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    cursor: pointer;
}

div:hover {
    font-size: 12vmin;
}

.service.checked {
    background: green;
}

#location-status {
    grid-column: 1 / 4;
    grid-row: 1;
    background: gray;
}

#ambulance {
    grid-column: 1;
    grid-row: 2;
}

#police {
    grid-column: 2;
    grid-row: 2;
}

#firefighters {
    grid-column: 3;
    grid-row: 2;
}

#send-sos {
    grid-column: 1 / 4;
    grid-row: 3;
}